* {
    margin: 0;
    padding: 0;
}

.d-none {
    visibility: hidden;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-start {
    justify-content: flex-start;
}

.j-around {
    justify-content: space-around;
}

.j-between {
    justify-content: space-between;
}

.ac-center {
    align-content: center;
}

.ac-end {
    align-content: flex-end;
}

.ac-start {
    align-content: flex-start;
}

.ac-around {
    align-content: space-around;
}

.ac-between {
    align-content: space-between;
}

.ai-center {
    align-items: center;
}

.ai.start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.border {
    border: 1px solid black;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 5px;
}

header {
    font-size: 50px;
    height: 60px;
    background: blanchedalmond;
}

.score {
    width: 200px;
    height: 60px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}

.score p {
    font-size: 50px;
    display: inline-block;
}

.player {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background: red;
}

.user {
    left: -23px;
}

.com {
    right: -40px;
}

.bungkus {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.bungkus:hover {
    background: chartreuse;
}

#komputer_choice {
    position: relative;
    height: 220px;
    margin-top: 10px;
}

#komputer_choice .bungkus {
    position: absolute;
}

.hasil {
    height: 30px;
    font-size: 20px;
}